<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Desafio Mongeral.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B23061961E2ED325006C5F89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B23061AD1E2ED326006C5F89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B23061B81E2ED326006C5F89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
